@charset "UTF-8";



* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 64.5%;
}

h1 {
    font-size: 1.8rem;
    width: 80%;
    margin: 20px auto;
}

h2 {
    font-size: 1.6rem;
    text-align: center;
}

/* 意図的に＃idを使用しています */
#ul__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
}

#box1,#box2,#box3,#box4,#box5,#box6 {
    margin: 10px;
    position: relative;
    text-align: center;
}

#light1,#light2,#light3,#light4,#light5,#light6 {
    width: 160px;
    height: 180px;
    background-color: rgb(255, 255, 142);
    border: solid 1px gray;
}

#switch1,#switch2,#switch3,#switch4,#switch5,#switch6 {
    margin-block-start: 20px;
    border: none;
    appearance: none;
    background-color: rgb(214, 214, 186);
    width: 100px;
    height: 40px;
    text-align: center;
    border-radius: 20px;
    margin: 20px 0;
    cursor: pointer;
    user-select: none;
    transition: opacity 0.4s;
}

#switch1:hover,#switch2:hover,#switch3:hover,
#switch4:hover,#switch5:hover,#switch6:hover {
    opacity: 0.6;
}

#box1::before {
    content: '';
    background-image: url(../images/window01.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-48%,-80%);
}
#box2::before {
    content: '';
    background-image: url(../images/window02.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-48%,-80%);
}
#box3::before {
    content: '';
    background-image: url(../images/window03.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-48%,-80%);
}

#box4::before {
    content: '';
    background-image: url(../images/window04.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-80%);
}

#box5::before {
    content: '';
    background-image: url(../images/window01.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-80%);
}

#box6::before {
    content: '';
    background-image: url(../images/window02.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-80%);
}